---
layout: layouts/base.njk
title: Contacto
---

<div class="col-5 col-md-4 col-sm-3 col-xs-6 contacto-titulo">
  <h1 class="font-2 text-headline">gracias</h1>
</div>
<div class="col-7 col-md-6 col-sm-5 col-xs-6 contacto-form">
  <p>
    Muchas gracias por tu mensaje, te responderé en cuanto pueda.<br>
  <p>
  <p>
    Un saludo,<br>
    Michaella.
  </p>
</div>