---
layout: layouts/full.njk
title: Inicio
---
<div class="home-slide">
  <h1 class="font-2 home-title">Michaella Zena es…</h1>
</div>

<div class="home-slide">
  <img src="/assets/images/home-1.jpg" alt="">
  <a href="/fotografia/" class="font-2 home-subheader">fotógrafa</a>
</div>

<div class="home-slide">
  <img src="/assets/images/home-2.jpg" alt="">
  <a href="/ilustracion/" class="font-2 home-subheader">ilustradora</a>
</div>

<div class="home-slide">
  <img src="/assets/images/home-3.jpg" alt="">
  <a href="/contacto/" class="font-2 home-subheader home-subheader-alt">freelance</a>
</div>