---
layout: layouts/base.njk
title: Quién soy
eleventyNavigation:
  key: quiensoy
  title: quién soy
  order: 4
---

<div class="col-5 col-md-4 col-sm-3 col-xs-6 quien-soy-titulo">
  <h1 class="font-2 text-headline">quién soy</h1>
</div>

<div class="col-6 quien-soy-content">
  <img class="quien-soy-foto" src="/assets/images/michaella.jpg" alt="Michaella Zena">
  <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tempus tortor vitae ligula finibus, sollicitudin scelerisque nisl varius. Donec fringilla vel urna sed lacinia. Fusce vitae hendrerit metus. Sed hendrerit lacus a placerat scelerisque. Quisque dui nibh, scelerisque vel hendrerit sit amet, consectetur et elit. Maecenas auctor nulla vel lorem condimentum facilisis. Aenean quis quam vulputate, fermentum ligula eget.
  </p>
</div>